* {
    margin:0;
    padding:0;
    box-sizing :border-box;
}
html{
    font-size:62.5%;
}
h1 {
   font-size :2.6rem;
}
h2{
    font-size : 4.8rem
}
h3{
    font-size : 3rem
}
h4,h5{
    font-size : 2.6rem
}
li{
    font-size:2rem
}
a{
    color: black;
    text-decoration:none;

}
/*header*/
.main-head{
    background:#5e7669;
    color: #ffffff;
    
}
nav {
    min-height : 10vh;
    display:flex;
    align-items:center;
    width :90%;
    margin : auto;
}
nav ul{
    display:flex;
    flex : 1 1 40rem; 
    justify-content : space-around ;
    align-items:center;
    list-style : none;
    padding : 2rem;
}
#logo{
    flex : 1 1 40rem;  
}

