.u-section-1 .u-sheet-1 {
  min-height: 632px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-1 .u-shape-1 {
  height: 412px;
  width: 429px;
  background-image: none;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 439px;
  height: 411px;
  margin: -446px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-1 .u-shape-1 {
    height: 349px;
    width: 345px;
  }

  .u-section-1 .u-image-1 {
    width: 345px;
    height: 348px;
    margin-top: -418px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-1 .u-btn-1 {
    padding: 10px 32px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-1 .u-shape-1 {
    height: 239px;
    width: 260px;
  }

  .u-section-1 .u-image-1 {
    width: 260px;
    height: 256px;
    margin-top: -308px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-1 .u-shape-1 {
    height: 376px;
    width: 407px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 402px;
    height: 377px;
    margin-top: -445px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-1 .u-shape-1 {
    height: 295px;
    width: 293px;
    margin-top: 49px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: -348px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}